* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 3px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  --color-tile-primary: #dae0db;
  --color-correct: #00dbc3;
  --color-secondary: #f07559;
  --color-null: #312f2d;
  --color-null-keyboard: #16151575;
  --color-background: #0f0a07;
  --color-text: var(--color-correct);
  --color-text-offset: #3dffd2;
}

body {
  font-size: 20px;
  height: 100vh;
  padding: calc(2rem + 2vw) calc(0.25rem + 4vw);
  background-color: var(--color-background);
  color: var(--color-tile-primary);
}

#root {
  height: 100%;
}

.wordle-app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  color: var(--color-correct);
}

button {
  all: unset;
}

button:active {
  background-color: var(--color-null-keyboard);
  border-color: var(--color-tile-primary) !important;
}

.letterbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  max-width: 4.5rem;
  max-height: 4.5rem;

  font-weight: 700;
  background-color: var(--color-background);
  border: 1px solid var(--color-tile-primary);
  margin: 0.17em;
}

.tile.dark-grey {
  background-color: var(--color-null);
}

.key-button.dark-grey {
  border-color: var(--color-null);
}

.key-button {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-null);
  color: var(--color-tile-primary);
  font-size: 0.7em;
  margin: 0.5em;
  border: 1px solid var(--color-tile-primary);
  transition: all 0.05s;
}

.green {
  background-color: var(--color-correct);
  color: var(--color-background);
}

.yellow {
  background-color: var(--color-secondary);
  color: var(--color-background);
}

.dark-grey {
  background-color: var(--color-null-keyboard);
  color: var(--color-tile-primary);
}

.example-container {
  display: flex;
  align-items: center;
}

.tile-example > * {
  transform: scale(0.75);
}

/* ROW */

.row {
  display: flex;
  justify-content: center;
}

.submit,
.delete {
  width: 6rem;
}

.submit {
  border-color: var(--color-correct);
}

.delete {
  border-color: var(--color-secondary);
}

/* POP UP CONATINER WIN/LOSE/TOOSHORT/INVALID/INSTRUCTION/STATS */

.pop-up-container {
  position: absolute;
  background-color: var(--color-background);
  border: 2px solid var(--color-tile-primary);
}

.pop-up-container:not(.invalid-message) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23em;
  height: 23em;
  padding: 2em;
  text-align: center;
}

.invalid-message {
  box-shadow: 0 0 0.6rem var(--color-secondary);
  color: var(--color-secondary);
  padding: 0.75em 1.25em 0.75em 1.25em;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.wordle-app:has(.invalid-message) {
  animation: shake 0.1s ease-in-out 0s 2;
}

.exit-button {
  position: absolute;
  top: 0.5em;
  right: 1em;
}

.exit-button:hover {
  color: var(--color-secondary);
}

.outline-container {
  border: 1px solid var(--color-tile-primary);
  padding: 0.5em;
  margin: 0.5em 0;
}

.win-lose-stat {
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
}

.game-instruction > div {
  height: 100%;
  text-align: left;
}

.game-instruction > div ul li {
  list-style-position: inside;
}

.pop-up-container h2 {
  font-size: 2rem;
  color: var(--color-correct);
}

.pop-up-container.lose h2 {
  font-size: 2rem;
  color: var(--color-secondary);
}

/* reset button/ newgame */

.reset-button {
  font-size: 1.25rem;
  font-weight: 00;
}

.reset-button:hover {
  color: var(--color-correct);
}

/* NAV HEADER BUTTONS info and stats */

.info-stats-header-buttons {
  position: absolute;
  top: 1em;
  right: 1.25em;
}

.info-stats-header-buttons button {
  margin: 1em;
}
.info-stats-header-buttons button:hover {
  color: var(--color-correct);
}

.info-stats-header-buttons .reset-button {
  color: var(--color-text-offset);
}

.instruction div {
  height: 100%;
}

@media (max-width: 815px) {
  .key-button {
    /* min-width: 3rem; */
    margin: 0.25em;
  }

  .pop-up-container:not(.invalid-message) {
    width: 18em;
  }
}

.keyBoard {
  width: 100%;
}

.keyBoard .row {
}

.gameBoard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gameBoard > div {
  display: flex;
  flex-direction: column;
}

.gameBoard .row {
  flex: 1 1;
  align-items: center;
}

.row > .tile {
  flex: 1 1;
  aspect-ratio: 1/1;
}
